/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

:root{
    --black: rgba(5,5,5,255);
    --primary: rgba(2,48,71,255);
    --geo_green: rgba(0,128,1,255);
    --blue_tech: rgba(0,0,128,255);
    --cooking_purple: rgba(128,0,128,255);
    --orange_travel: rgba(243,163,96,255);
    --yellow_art: rgba(255,214,1,255);
}

img{
    max-width: 100%;
}

/* #endregion Common */

/* #region body */

body{
    background-color: rgba(2,48,71,255);
}

/* #endregion body */

/* #region Header */

header{
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2rem;
}

/* #endregion Header */

/* #region Main */

.filters{
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

input{
    justify-self: end;
}

.filter{
    padding: 0.25rem;
}

.post{
    background-color: white;
    width: 60%;
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
}

.post-body{
    padding: 1rem 1rem;
}

.post-body h3{
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
    width: 90%;
}

.fa-bookmark{
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.post-author{
    font-weight: bold;
}

.post-date{
    font-size: 0.85rem;
    font-weight: 300;
    padding-top: 0.15rem;
}

.post-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post-tags{
    padding-top: 0.75rem;
}

.post-tags label{
    padding: 0.5rem;
    border-radius: 15%;
    margin-right: 0.5rem;
}

.post-tags label{
    color: white;
}

.post-tags label.Geo{
    background-color: var(--geo_green);
}

.post-tags label.Tech{
    background-color: var(--blue_tech);
}

.post-tags label.Viaggi{
    background-color: var(--orange_travel);
}

.post-tags label.Cucina{
    background-color: var(--cooking_purple);
}

.post-tags label.Arte{
    background-color: var(--yellow_art);
}

/* #endregion Main */