/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

:root{
    --black: rgba(5,5,5,255);
    --primary: rgba(2,48,71,255);
}

img{
    max-width: 100%;
}

/* #endregion Common */

/* #region body */

body{
    background-color: rgba(2,48,71,255);
}

/* #endregion body */

/* #region Header */

header{
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2rem;
}

/* #endregion Header */

/* #region Main */

.filters{
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

input{
    justify-self: end;
}

.filter{
    padding: 0.25rem;
}

.post{
    background-color: white;
    width: 60%;
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
}

.post-body{
    padding: 1rem 1rem;
}

.post-body h3{
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
    width: 90%;
}

.fa-bookmark{
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.post-author{
    font-weight: bold;
}

.post-date{
    font-size: 0.85rem;
    font-weight: 300;
    padding-top: 0.15rem;
}

.post-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post-tags{
    padding-top: 0.75rem;
}

/* #endregion Main */